
//Colors
$col-white:#fff;
$col-black:#000;
$col-header:#ff0000;
$col-primary:#41aae6;
$col-primary-bg:#41aae6d1;

$col-grey:#ffffff34;
$col-grey-2:#00000040;
$col--primary-grey:#72bee934;

$col-notice-title:#3133B5;