.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 2rem ;
    width: 100%;
    &__title{
        color: $col-header;
        text-transform: uppercase;
        font-family: 'Trispace', sans-serif;
        &:hover{
            animation: stretchIn 1s ;   
        }
    } 
    &__btn{
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 25px;
        cursor: pointer;
        font-weight: 700;
        text-transform: uppercase;
        height: fit-content;    
        &--page{
            font-weight: bolder;
            padding:10px 30px;
        }
        &--next{
            padding:10px 30px;
            // position: absolute;
            &::after{
                content: "next>>";
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
        &:hover{
            background-color: rgba($col-white,0.2);
        }
    }
    @include respond(phone){
        margin-bottom: 1rem ;
    }
    @include respond(small-screen){
        min-width: 300px;
    }
}
